/* ubuntu-condensed-regular - latin */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('/font/ubuntu-condensed-v9-latin-regular.woff') format('woff'),
       url('/font/ubuntu-condensed-v9-latin-regular.ttf') format('truetype');
}

/******************************
 * tiny layout
 ******************************/

html {
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #000;
  font-size: 16px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas: "header" "nav" "nav-main-sep" "main" "footer";
  padding: .5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

#header {
  grid-area: header;
  font-size: 2.5em;
  width: 100%;
  display: grid;
  grid-template-rows: 1em auto;
  grid-template-columns: .8em 1fr .8em;
  grid-template-areas:
    "hleft hspace hright"
    ". hlogo .";
  grid-gap: .2em;
}

#nav__container {
  grid-area: nav;
  padding: .5em 2.55em 0;
}

#main__container {
  grid-area: main;
  padding: .5em 2.55em 0;
  color: #ddd;
}

#footer {
  grid-area: footer;
  font-size: 2.5em;
  width: 100%;
  padding-top: .225em;
  display: grid;
  grid-template-rows: 1em;
  grid-template-columns: .8em 1fr .8em;
  grid-column-gap: .2em;
}

/* bars */

.bar--left {
  display: block;
  background-color: #99f;
  border-radius: 1em 0 0 1em;
}

.bar--space {
  display: block;
  background-color: #c9c;
}

.bar--right {
  display: block;
  background-color: #99f;
  border-radius: 0 1em 1em 0;
}

.bar__sep {
  display: none;
}

/* header */

.header__header {
  height: 100%;
  text-align: center;
  line-height: 1;
}

.header--left {
  grid-area: hleft;
}

.header__logo {
  grid-area: hlogo;
}

.header--space {
  grid-area: hspace;
}

.header__sep {
  grid-area: hsep;
  border-top-right-radius: 2em;
}

.header--right {
  grid-area: hright;
}

.header__name--short {
  text-transform: uppercase;
  font-weight: bold;
}

.header__name--long {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
}

.header__link {
  text-decoration: none;
  color: #f90;
  font-family: 'Ubuntu Condensed', sans-serif;
}

/* navigation */

.nav__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .4em;
  list-style-type: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.3em;
}

.nav__link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 48px;
  height: 2.3em;
  background-color: #f96;
  border-radius: 2.3em;
  color: #000;
  text-decoration: none;
  padding: .3em 1.1em;
}

.nav__link:focus,
.nav__link:hover {
  background-color: #c9c;
  text-decoration: underline;
}

/* main-nav separator */

.bar__main-nav-separator {
  grid-area: nav-main-sep;
  display: grid;
  grid-template-columns: .7em 1fr .7em;
  grid-template-rows: 1em;
  grid-gap: .5em;
  grid-template-areas: "mleft mspace mright";
  padding: .5em 0 0;
}

.bar__main-nav--left {
  grid-area: mleft;
}

.bar__main-nav--space {
  grid-area: mspace;
}

.bar__main-nav--right {
  grid-area: mright;
}

/* footer */

.footer__sep {
  border-bottom-right-radius: 2em;
}


/******************************
 * small layout
 ******************************/

@media screen and (min-width: 31em) {
  /* header */

  #header {
    grid-template-rows: 1em;
    grid-template-columns: .8em auto 1fr .8em;
    grid-template-areas: "hleft hlogo hspace hright";
  }

  .header__name--short {
    width: unset;
    height: 1em;
  }

  /* navigation */

  #nav__container {
    margin: .5em 0 0;
  }

  .nav__list {
    grid-template-columns: 1fr 1fr;
  }
}
